.header {
  background-color: transparent;
  height: 902px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.header .overlap-14 {
  height: 902px;
  position: relative;
  width: 1440px;
}

.header .rectangle-6 {
  background-color: #fcefea;
  height: 746px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.header .rectangle-7 {
  background-color: #000000;
  height: 156px;
  left: 0;
  position: absolute;
  top: 746px;
  width: 1440px;
}

.header .group-20 {
  height: 794px;
  left: 735px;
  position: absolute;
  top: 108px;
  width: 628px;
}

.header .overlap-group-8 {
  height: 794px;
  position: relative;
}

.header .subtract {
  height: 314px;
  left: 0;
  position: absolute;
  top: 480px;
  width: 628px;
}

.header .subtract-2 {
  height: 314px;
  left: 0;
  position: absolute;
  top: 166px;
  width: 628px;
}

.header .highschool-student {
  height: 794px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 503px;
}

.header .frame-7 {
  height: 52px;
  left: 120px;
  position: absolute;
  top: 32px;
  width: 1200px;
}

.header .frame-8 {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  justify-content: flex-end;
  left: 590px;
  position: relative;
}

.header .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.header .text-wrapper-21 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .frame-10 {
  align-items: center;
  border: 1px solid;
  border-color: #0000004c;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 10px 20px;
  position: relative;
}

.header .text-wrapper-22 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .group-21 {
  height: 509px;
  left: 120px;
  position: absolute;
  top: 152px;
  width: 633px;
}

.header .text-wrapper-23 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 64px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1.28px;
  line-height: 83.2px;
  position: absolute;
  top: 48px;
  width: 627px;
}

.header .text-wrapper-24 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.36px;
  line-height: 32px;
  opacity: 0.7;
  position: absolute;
  top: 313px;
  width: 547px;
}

.header .text-wrapper-25 {
  color: #f0a082;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.36px;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.header .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 457px;
}

.header .frame-12 {
  align-items: center;
  background-color: #000000;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 10px 28px;
  position: relative;
}

.header .text-wrapper-26 {
  color: #f9f08d;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .frame-13 {
  align-items: center;
  border-radius: 12px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 10px 28px;
  position: relative;
}
