.overlap-wrapper {
  height: 546px;
  left: 0;
  position: absolute;
  top: 956px;
  width: 1444px;
}

.overlap-wrapper .overlap-2 {
  background-color: #fef9f8;
  height: 546px;
  position: relative;
  width: 1440px;
}

.overlap-wrapper .our-research {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 86px;
  width: 582px;
}

.overlap-wrapper .span {
  font-weight: 700;
  line-height: 84.5px;
}

.overlap-wrapper .text-wrapper-8 {
  font-size: 25px;
  line-height: 44.0px;
}

.overlap-wrapper .text-wrapper-9 {
  font-size: 25px;
  line-height: 35.0px;
}

.overlap-wrapper .text-wrapper-10 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0.36px;
  line-height: 32px;
  opacity: 0.7;
  position: absolute;
  top: 262px;
  width: 547px;
}

.overlap-wrapper .frame-5 {
  align-items: center;
  background-color: #000000;
  border-radius: 8px;
  display: inline-flex;
  gap: 8px;
  left: 120px;
  padding: 10px 28px;
  position: absolute;
  top: 390px;
}

.overlap-wrapper .text-wrapper-11 {
  color: #f9f08d;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.overlap-wrapper .group-5 {
  height: 438px;
  left: 801px;
  position: absolute;
  top: 54px;
  width: 472px;
}

.overlap-wrapper .group-6 {
  height: 114px;
  left: 3px;
  position: absolute;
  top: 16px;
  transform: rotate(-4.00deg);
  width: 469px;
}

.overlap-wrapper .overlap-group-2 {
  border-radius: 16px;
  height: 114px;
  position: relative;
  width: 465px;
}

.overlap-wrapper .overlap-3 {
  height: 93px;
  left: 114px;
  position: absolute;
  top: 16px;
  width: 287px;
}

.overlap-wrapper .combining-expertise {
  color: #3b3b62;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 31px;
  transform: rotate(-0.32deg);
}

.overlap-wrapper .text-wrapper-12 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 28.0px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 237px;
}

.overlap-wrapper .img-wrapper {
  background-color: #fcefea;
  border-radius: 8px;
  height: 82px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 82px;
}

.overlap-wrapper .teamwork {
  height: 58px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  transform: rotate(4.00deg);
  width: 58px;
}

.overlap-wrapper .group-7 {
  height: 114px;
  left: 3px;
  position: absolute;
  top: 162px;
  width: 469px;
}

.overlap-wrapper .overlap-group-3 {
  height: 70px;
  left: 114px;
  position: absolute;
  top: 16px;
  width: 315px;
}

.overlap-wrapper .rigorous {
  color: #3b3b62;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 30px;
}

.overlap-wrapper .text-wrapper-13 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 28.0px;
  position: absolute;
  top: 0;
}

.overlap-wrapper .microscope {
  height: 58px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 58px;
}

.overlap-wrapper .group-8 {
  height: 114px;
  left: 3px;
  position: absolute;
  top: 308px;
  transform: rotate(4.00deg);
  width: 469px;
}

.overlap-wrapper .overlap-group-4 {
  height: 81px;
  left: 114px;
  position: absolute;
  top: 16px;
  width: 269px;
}

.overlap-wrapper .direct-application {
  color: #3b3b62;
  font-family: "Manrope", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 35px;
  transform: rotate(-0.60deg);
  width: 267px;
}

.overlap-wrapper .earth {
  height: 58px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  transform: rotate(-4.00deg);
  width: 58px;
}
