
.dark-button:hover {
  transform:
    scale(1.02);
  transition: 0.1s ease, transform 0.1s ease;
}

.light-button:hover {
  transform:
    scale(1.02);
  transition: 0.1s ease, transform 0.1s ease;
}

.team-member-img {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  height: 100%;            /* ensure the container has a height */
}

.team-member-img img {
  border-radius: 10px;
}